/* este es el archivo de estilo CSS para la aplicación AGV */
/* donde se ha creado varias clases en los archivos html para poder aplicar estilos a los elementos de la página web */

:root {
    --color-fondo: #1b3552;
    --color-texto:  #ffffff;
    --color-acento: #cc5200;
}
body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #ffffff;
    text-align: center;
}

button {
    background-color: var(--color-acento);
    color: var(--color-texto);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;

}

button:hover {
   background-color: #cc5200;
}
.alerta {
    background-color: var(--color-acento);
    color: var(--color-fondo);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    
}
.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(19, 18, 18);
    border-radius: 10px;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
   
}

input {
    padding: 5px 10px;
    border-radius: 5px 2px ;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--color-acento);
    border-right: 1px solid var(--color-acento);
    border: 1px solid var(--color-acento)
}
th {
    color: var(--color-acento);
}

.new {
    color: #cc5200;
    font-size: 20px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #2a2a2a;
}
.resumen {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    
}
.tarjeta {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-acento);
    
}
.title {
    color: black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}